footer {
    background-color: #0277BD;
    margin-top: 20px;
    padding-top: 20px;
}

.footer-copyright {
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
}

.hero {
    height: 500px;
    background: url("../img/hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: -22px;
}

.hero-form {
    background-color:rgba(255,255,255,0.8);
    color: #747474;
    height: 100px;
}

.hero-content {
    position: relative;
    height: 250px;
    top: 100px;    
}

.shadow {
    text-shadow: 4px 2px 11px rgba(150, 150, 150, 0.79);
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.promo i {
    color: #039BE5;
    font-size: 7rem;
    display: block;
}

.icon-list {
    padding-right: 10px;
    
}
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
*/
@media only screen and (max-width: 500px) {
  .hero-form {
      height: 200px;
  }
}

.tabs-wrapper {   
    position: relative;
    height: 48px;
}
